<div class="container-fluid" id="container-fluid">
  <div class="row mb-3">
    <div class="col-md-10"></div>
    <div class="col-md-2">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort By &nbsp; <i class="fa fa-sort fa-lg"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/students?sort=asc">Ascending</a>
          <a class="dropdown-item" href="/students?sort=desc">Descending</a>
        </div>
      </div>
    </div>
  </div>

  {{#if students}}

    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Roll Number</th>
          <th scope="col">Name</th>
          <th scope="col">Gender</th>
          <th scope="col">Date Of Admission</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Address</th>
          <th scope="col">Class Admitted To</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
     {{#each students }}
    <tr>
   
        <td>{{StudentId.ClassRollNo}}</td>
        <td>{{StudentName.FirstName}} {{StudentName.LastName}}</td>
        <td>{{Gender}}</td>
        <td>{{DateOfAdmission}}</td>
        <td>{{PhoneNumber}}</td>
        <td>
            {{Address.Address_Line_1}}, {{Address.City}}, {{Address.State}},
            {{Address.PostalCode}}, {{Address.Country}}
        </td>
        <td>{{Class}}</td>
        <td></td>
       
    </tr>
 {{/each}}

      </tbody>
    </table>
    <ul class="pagination">
      {{#paginate current=current pages=pages}} {{/paginate}} </ul>
  {{else}}
    <p>No records found...</p>
  {{/if}}
</div>


{{#unless user.privileges.update}}
<script>
    let updateItems = document.getElementsByClassName('edit-item'), count;

    for (count = 0; count < updateItems.length; count++) {
        updateItems[count].style.display = 'none';
    }
</script>
{{/unless}}

{{#unless user.privileges.delete}}
<script>
    let items = document.getElementsByClassName("del-item"), i;

    for (i = 0; i < items.length; i++) {
        items[i].style.display = 'none';
    }
</script>
{{/unless}}

<a href="/students/add" class="float">
    <i class="fa fa-plus my-float"></i>
</a>


